<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Семейный бюджет</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <header style="margin-bottom: 50px;">
        <div style="border-bottom: 1px solid #ddd;">
        <h1>Семейный бюджет</h1>
        </div>
        <div class="main-layouts">
            <div class="active-item" style="border-right: 1px solid #ddd;">Учет</div><div>Статистика</div>
        </div>
        <div class="adder">
            <div class="adder-type">Расход</div><button type="button" data-toggle="modal" data-target="#expenseModal">
                +
            </button>
            <div class="adder-type">Доход</div><button type="button" data-toggle="modal" data-target="#incomeModal">
                +
            </button>
            <div class="adder-type">Источник дохода</div><button type="button" data-toggle="modal" data-target="#incomeSourceModal">
                +
            </button>
            <div class="adder-type">Источник расхода</div><button type="button" data-toggle="modal" data-target="#expenseSourceModal">
                +
            </button>
            <div class="adder-type">Член семьи</div><button type="button" data-toggle="modal" data-target="#familyMemberModal">
                +
            </button>
        </div>
        <div class="months">
            <div class="month">Январь <br>{{monthsTotal.0}} руб.</div>
            <div class="month">Февраль <br>{{monthsTotal.1}} руб.</div>
            <div class="month">Март <br>{{monthsTotal.2}} руб.</div>
            <div class="month">Апрель <br>{{monthsTotal.3}} руб.</div>
            <div class="month">Май <br>{{monthsTotal.4}} руб.</div>
            <div class="month">Июнь <br>{{monthsTotal.5}} руб.</div>
            <div class="month">Июль <br>{{monthsTotal.6}} руб.</div>
            <div class="month">Август <br>{{monthsTotal.7}} руб.</div>
            <div class="month">Сентябрь <br>{{monthsTotal.8}} руб.</div>
            <div class="month">Октябрь <br>{{monthsTotal.9}} руб.</div>
            <div class="month">Ноябрь <br>{{monthsTotal.10}} руб.</div>
            <div class="month">Декабрь <br>{{monthsTotal.11}} руб.</div>
        </div>
    </header>


<!-- incomes create modal -->
<div class="modal fade" id="incomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить доход</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="income/create" method="post">
        {% csrf_token %}
        {{incomeForm.as_p}}
        <input type="submit" value="Добавить">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- expense create modal -->
<div class="modal fade" id="expenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить расход</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="expense/create" method="post">
        {% csrf_token %}
        {{expenseForm.as_p}}
        <input type="submit" value="Добавить">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- income source  create modal -->
<div class="modal fade" id="incomeSourceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить источник дохода</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="income/source/create" method="post">
        {% csrf_token %}
        {{incomeSourceForm.as_p}}
        <input type="submit" value="Добавить">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- expense source  create modal -->
<div class="modal fade" id="expenseSourceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить источник расхода</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="expense/source/create" method="post">
        {% csrf_token %}
        {{expenseSourceForm.as_p}}
        <input type="submit" value="Добавить">
        </form>
      </div>
    </div>
  </div>
</div>

<!-- family member create modal -->
<div class="modal fade" id="familyMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить члена семьи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="family-member/create" method="post">
        {% csrf_token %}
        {{familyMemberForm.as_p}}
        <input type="submit" value="Добавить">
        </form>
      </div>
    </div>
  </div>
</div>



    

    <div class="content-wrapper">
        <div class="expense-wrapper" style="margin-right: 20px;">
            <div class="table-title">Расходы</div>
            <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                  <th scope="col">№</th>
                  <th scope="col">Наименование</th>
                  <th scope="col">Сумма</th>
                  <th scope="col">Источник</th>
                  <th scope="col">Член семьи</th>
                  <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ expense.desc }}</td>
                      <td>{{ expense.amount }} руб.</td>
                      <td>{% firstof expense.expenseSource "-"%}</td>
                      <td>{% firstof expense.familyMember "-"%}</td>
                      <td>{{ expense.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <div class="income-wrapper">
            <div class="table-title">Доходы</div>
            <table class="table table-striped table-bordered table-hover" >
            <thead>
                <tr>
                  <th scope="col">№</th>
                  <th scope="col">Наименование</th>
                  <th scope="col">Сумма</th>
                  <th scope="col">Источник</th>
                  <th scope="col">Член семьи</th>
                  <th scope="col">Дата</th>
                </tr>
            </thead>
            <tbody>
                {% for income in incomes %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ income.desc }}</td>
                      <td>{{ income.amount }} руб.</td>
                      <td>{% firstof income.incomeSource "-"%}</td>
                      <td>{% firstof income.familyMember "-"%}</td>
                      <td>{{ income.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    <script>
      var months = {
        "Январь": 1,
        "Февраль": 2,
        "Март": 3,
        "Апрель": 4,
        "Май": 5,
        "Июнь": 6,
        "Июль": 7,
        "Август": 8,
        "Сентябрь": 9,
        "Октябрь": 10,
        "Ноябрь": 11,
        "Декабрь": 12,
      }

      function showMonthIncExp(month) {
        $("tbody tr").hide();

        $("tbody td:nth-child(6)").each( function() {
          var elMonth = $(this).text().split(" ")[1].substring(0, 3);
          var curMonth = month.toLowerCase().substring(0, 3);
          debugger;
          if (elMonth == curMonth) {
            $(this).parent().show();
          };
        })
      }

      var monthsEl = $("div.month");
      monthsEl.each( function() {
        month = $(this).text().split(" ")[0];
    
        if (months[month] == {{currentMonth}}) {
          $(this).addClass("active-month");
          showMonthIncExp(month);
        }
      })

      monthsEl.each( function() {
        $(this).on("click", function() {
          monthsEl.removeClass("active-month");
          $(this).addClass("active-month");
          showMonthIncExp($(this).text().split(" ")[0]);
        })
      })
    </script>
</body>
</html>